= haml :_navigation, :layout => false, :locals => {:show_prev => show_prev, :show_next => show_next, :page => page}

- results.each do |result|
  .result
    .message= result["message"]
    .repo= result["repo"]
    .date= Time.at(result["commit_timestamp"].to_i).strftime("%B %d, %Y")
    .diff
      %a{ :href => "http://github.com/#{result['repo']}/commit/#{result['docid']}" } github

= haml :_navigation, :layout => false, :locals => {:show_prev => show_prev, :show_next => show_next, :page => page}